# Project Premature Stop Codons in *Arabidopsis thaliana*

To manage live in an ecosystem organisms need to adapt to the specific abiotic and biotic factors arount them. Especially for plants adaptation is important because they can not change their habitat during their lifespan. Adaptation can happen through multiple changes on cell, tissue and organism level, but the fundamental process that drive adaptation on the smallest scale are mutations. There are three categories of mutations, which have different effects on the process of transkription of DNA to RNA and the translation from the RNA to the protein. The first category of mutations are synonymous mutations. **TODO ongoing introduction**

## Ara11-Annotation

### Analysing positions of gene locations

For determining length or position of genes or RNAs we need information about the start of the 5'UTR, the start of the coding sequence, the stop of the coding sequence, the stop of the 3' UTR and the orientation of the gene on the DNA strand for each single gene in *A. thaliana*. For getting a detailed look at the different genes we actually look at the start  and stop of the protein as well as the UTR regions. This leads to multiple entries for different splice variants for one gene. Different splicing variants result in different protein start and stop and can also result in different 5'UTR and 3'UTR regions depending on the annotation in the Araport 11 file. We store all genes, which don't have a protein as a result for example miRNAs in a different table. For them only the information of where the gene starts and ends is available.

In [2]:
import pandas as pd

In [ ]:
%run Ara11_Annotation.py

In [7]:
genes_table = pd.read_csv('../data/processed/Ara11/Ara11_genes_gff.csv', index_col=0)
genes_table

,Name,Orientation,Start_5UTR,Stop_5UTR,Start_Protein,Stop_Protein,Start_3UTR,Stop_3UTR
0,AT1G01010.1,+,3631.0,3759.0,3760,5630,5631.0,5899.0
1,AT1G01020.1,-,8667.0,9130.0,6915,8666,6788.0,6914.0
2,AT1G01020.2,-,8667.0,8737.0,7315,8666,6788.0,7069.0
3,AT1G01020.3,-,8443.0,8464.0,6915,8442,6788.0,6914.0
4,AT1G01020.4,-,8594.0,9130.0,6915,8442,6788.0,6914.0
...,...,...,...,...,...,...,...,...
48354,ATMG01350.1,+,NaN,NaN,346757,347194,NaN,NaN
48355,ATMG01360.1,-,NaN,NaN,349830,351413,NaN,NaN
48356,ATMG01370.1,-,NaN,NaN,360717,361052,NaN,NaN
48357,ATMG01400.1,+,NaN,NaN,363725,364042,NaN,NaN
48358,ATMG01410.1,-,NaN,NaN,366086,366700,NaN,NaN

## Premature-Stop Attributes

## Control with Synonymous and Non-Synonymous Mutations